body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: linear-gradient(to bottom, #f4c7db, #fbeef4 50%, #ffffff 80%, #d8cfc0);
  font-family: 'Noto Sans Thai', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
  width: 90%;
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page {
  display: none;
}

#page1:checked ~ .container #p1,
#page2:checked ~ .container #p2,
#page3:checked ~ .container #p3 {
  display: block;
}

.text {
  font-size: 1.6rem;
  margin-bottom: 20px;
  color: #333;
}

.textfirst{
    color:white;
    position: absolute;
    top: 0;
    left: 0;
}

.input {
  padding: 10px;
  width: 80%;
  max-width: 250px;
  border-radius: 8px;
  border: 1px solid #ffe3ec;
  margin-bottom: 30px;
}

.photo {
  width: 100%;
  max-width: 300px;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.button {
  all: unset;
  display: inline-block;
  padding: 10px 20px;
  background-color: #ffe3ec; 
  color: #444;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 30px;
  font-size: 1rem;
}

.button:hover {
  background-color: #ffffffcc;
}

.card-content {
  display: flex;
  gap: 50px;

}

.message {
  background-color: rgba(255, 255, 255, 0.362);
  border-radius: 10px;
  padding: 10px;
  text-align: left;
  margin: 0;
}

.text-side {
  flex-grow: 1; 
  min-width: 350px; 
  text-align: left;
  color: #666;
  font-size: 0.9em;
  line-height: 1.4em;
  display: block;
}


.images-side {
  flex: 0 0 50%;  
  display: grid;
  grid-template-columns: repeat(3, 150px);  
  gap: 10px;
}

.image-container {
  width: 150px;          
  aspect-ratio: 1 / 1;   
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;   
  display: block;
}

.card-header{
    font-size: 20px;
    font-weight: bold;
    color: #636262;
    padding-bottom: 20px;
}
